web/WEB-INF/wsit-dce.main.DCExchangeSrv.xml

<?xml version="1.0" encoding="UTF-8"?> 
 <definitions 
 xmlns="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="DCExchangeSrv" targetNamespace="http://main.dce/" xmlns:tns="http://main.dce/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sc="http://schemas.sun.com/2006/03/wss/server" xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy" 
 >
    <message name="SetLoginAccess"/>
    <message name="SetLoginAccessResponse"/>
    <message name="MakeTestConnect"/>
    <message name="MakeTestConnectResponse"/>
    <message name="GetKDInformationByKPKMO"/>
    <message name="GetKDInformationByKPKMOResponse"/>
    <message name="GetKDInformationByMO"/>
    <message name="GetKDInformationByMOResponse"/>
    <message name="GetKDInformationByKpk"/>
    <message name="GetKDInformationByKpkResponse"/>
    <message name="GetKDInformationPDG"/>
    <message name="GetKDInformationPDGResponse"/>
    <message name="GetKDInformationLDS"/>
    <message name="GetKDInformationLDSResponse"/>
    <message name="GetKDInformation"/>
    <message name="GetKDInformationResponse"/>
    <message name="GetOrdersLeaveHospitalPDG"/>
    <message name="GetOrdersLeaveHospitalPDGResponse"/>
    <message name="GetOrdersLeaveHospitalLDS"/>
    <message name="GetOrdersLeaveHospitalLDSResponse"/>
    <message name="GetOrdersLeaveHospital"/>
    <message name="GetOrdersLeaveHospitalResponse"/>
    <message name="GetOrdersNullificationPDG"/>
    <message name="GetOrdersNullificationPDGResponse"/>
    <message name="GetOrdersNullificationLDS"/>
    <message name="GetOrdersNullificationLDSResponse"/>
    <message name="GetOrdersNullification"/>
    <message name="GetOrdersNullificationResponse"/>
    <message name="GetOrdersHospitalUrgentlyPDG"/>
    <message name="GetOrdersHospitalUrgentlyPDGResponse"/>
    <message name="GetOrdersHospitalUrgentlyLDS"/>
    <message name="GetOrdersHospitalUrgentlyLDSResponse"/>
    <message name="GetOrdersHospitalUrgently"/>
    <message name="GetOrdersHospitalUrgentlyResponse"/>
    <message name="GetFactOrdersHospitalPDG"/>
    <message name="GetFactOrdersHospitalPDGResponse"/>
    <message name="GetFactOrdersHospitalLDS"/>
    <message name="GetFactOrdersHospitalLDSResponse"/>
    <message name="GetFactOrdersHospital"/>
    <message name="GetFactOrdersHospitalResponse"/>
    <message name="GetPlanOrdersClinicPDG"/>
    <message name="GetPlanOrdersClinicPDGResponse"/>
    <message name="GetPlanOrdersClinicLDS"/>
    <message name="GetPlanOrdersClinicLDSResponse"/>
    <message name="GetPlanOrdersClinic"/>
    <message name="GetPlanOrdersClinicResponse"/>
    <message name="SendPlanOrdersClinic"/>
    <message name="SendPlanOrdersClinicResponse"/>
    <message name="SendFactOrdersHospital"/>
    <message name="SendFactOrdersHospitalResponse"/>
    <message name="SendOrdersHospitalUrgently"/>
    <message name="SendOrdersHospitalUrgentlyResponse"/>
    <message name="SendOrdersNullification"/>
    <message name="SendOrdersNullificationResponse"/>
    <message name="SendOrdersLeave"/>
    <message name="SendOrdersLeaveResponse"/>
    <message name="SendKDInformation"/>
    <message name="SendKDInformationResponse"/>
    <message name="GetAttachInformation"/>
    <message name="GetAttachInformationResponse"/>
    <message name="SendAttachDoctorInformation"/>
    <message name="SendAttachDoctorInformationResponse"/>
    <message name="SendAttachDoctorSectionInformation"/>
    <message name="SendAttachDoctorSectionInformationResponse"/>
    <message name="MakeAttachAction"/>
    <message name="MakeAttachActionResponse"/>
    <message name="MakeDeAttachActionCancel"/>
    <message name="MakeDeAttachActionCancelResponse"/>
    <message name="MakeDeAttachAction"/>
    <message name="MakeDeAttachActionResponse"/>
    <message name="GetQueryForDeAttachForMO"/>
    <message name="GetQueryForDeAttachForMOResponse"/>
    <message name="SendQueryForDeAttachForMO"/>
    <message name="SendQueryForDeAttachForMOResponse"/>
    <message name="GetDeAttachByDate"/>
    <message name="GetDeAttachByDateResponse"/>
    <message name="GetAttachListByRange"/>
    <message name="GetAttachListByRangeResponse"/>
    <message name="GetAttachListByRangeAct"/>
    <message name="GetAttachListByRangeActResponse"/>
    <message name="GetAttachListByRangeDead"/>
    <message name="GetAttachListByRangeDeadResponse"/>
    <message name="SendAttachMoStreetSection"/>
    <message name="SendAttachMoStreetSectionResponse"/>
    <message name="GetAttachMoStreetSection"/>
    <message name="GetAttachMoStreetSectionResponse"/>
    <message name="getEvPlanQtys"/>
    <message name="getEvPlanQtysResponse"/>
    <message name="getEvContacts"/>
    <message name="getEvContactsResponse"/>
    <message name="getEvPlanDates"/>
    <message name="getEvPlanDatesResponse"/>
    <message name="getEvPlanList"/>
    <message name="getEvPlanListResponse"/>
    <message name="getEvFactInfos"/>
    <message name="getEvFactInfosResponse"/>
    <message name="getEvFactExecs"/>
    <message name="getEvFactExecsResponse"/>
    <message name="getEvFactInvcs"/>
    <message name="getEvFactInvcsResponse"/>
    <message name="getEvUdvnStats"/>
    <message name="getEvUdvnStatsResponse"/>
    <message name="putEvContacts"/>
    <message name="putEvContactsResponse"/>
    <message name="putEvPlanDates"/>
    <message name="putEvPlanDatesResponse"/>
    <message name="putEvPlanList"/>
    <message name="putEvPlanListResponse"/>
    <message name="putEvFactInfos"/>
    <message name="putEvFactInfosResponse"/>
    <message name="putEvFactExecs"/>
    <message name="putEvFactExecsResponse"/>
    <portType name="DCExchangeSrv">
        <operation name="SetLoginAccess">
            <input message="tns:SetLoginAccess"/>
            <output message="tns:SetLoginAccessResponse"/>
        </operation>
        <operation name="MakeTestConnect">
            <input message="tns:MakeTestConnect"/>
            <output message="tns:MakeTestConnectResponse"/>
        </operation>
        <operation name="GetKDInformationByKPKMO">
            <input message="tns:GetKDInformationByKPKMO"/>
            <output message="tns:GetKDInformationByKPKMOResponse"/>
        </operation>
        <operation name="GetKDInformationByMO">
            <input message="tns:GetKDInformationByMO"/>
            <output message="tns:GetKDInformationByMOResponse"/>
        </operation>
        <operation name="GetKDInformationByKpk">
            <input message="tns:GetKDInformationByKpk"/>
            <output message="tns:GetKDInformationByKpkResponse"/>
        </operation>
        <operation name="GetKDInformationPDG">
            <input message="tns:GetKDInformationPDG"/>
            <output message="tns:GetKDInformationPDGResponse"/>
        </operation>
        <operation name="GetKDInformationLDS">
            <input message="tns:GetKDInformationLDS"/>
            <output message="tns:GetKDInformationLDSResponse"/>
        </operation>
        <operation name="GetKDInformation">
            <input message="tns:GetKDInformation"/>
            <output message="tns:GetKDInformationResponse"/>
        </operation>
        <operation name="GetOrdersLeaveHospitalPDG">
            <input message="tns:GetOrdersLeaveHospitalPDG"/>
            <output message="tns:GetOrdersLeaveHospitalPDGResponse"/>
        </operation>
        <operation name="GetOrdersLeaveHospitalLDS">
            <input message="tns:GetOrdersLeaveHospitalLDS"/>
            <output message="tns:GetOrdersLeaveHospitalLDSResponse"/>
        </operation>
        <operation name="GetOrdersLeaveHospital">
            <input message="tns:GetOrdersLeaveHospital"/>
            <output message="tns:GetOrdersLeaveHospitalResponse"/>
        </operation>
        <operation name="GetOrdersNullificationPDG">
            <input message="tns:GetOrdersNullificationPDG"/>
            <output message="tns:GetOrdersNullificationPDGResponse"/>
        </operation>
        <operation name="GetOrdersNullificationLDS">
            <input message="tns:GetOrdersNullificationLDS"/>
            <output message="tns:GetOrdersNullificationLDSResponse"/>
        </operation>
        <operation name="GetOrdersNullification">
            <input message="tns:GetOrdersNullification"/>
            <output message="tns:GetOrdersNullificationResponse"/>
        </operation>
        <operation name="GetOrdersHospitalUrgentlyPDG">
            <input message="tns:GetOrdersHospitalUrgentlyPDG"/>
            <output message="tns:GetOrdersHospitalUrgentlyPDGResponse"/>
        </operation>
        <operation name="GetOrdersHospitalUrgentlyLDS">
            <input message="tns:GetOrdersHospitalUrgentlyLDS"/>
            <output message="tns:GetOrdersHospitalUrgentlyLDSResponse"/>
        </operation>
        <operation name="GetOrdersHospitalUrgently">
            <input message="tns:GetOrdersHospitalUrgently"/>
            <output message="tns:GetOrdersHospitalUrgentlyResponse"/>
        </operation>
        <operation name="GetFactOrdersHospitalPDG">
            <input message="tns:GetFactOrdersHospitalPDG"/>
            <output message="tns:GetFactOrdersHospitalPDGResponse"/>
        </operation>
        <operation name="GetFactOrdersHospitalLDS">
            <input message="tns:GetFactOrdersHospitalLDS"/>
            <output message="tns:GetFactOrdersHospitalLDSResponse"/>
        </operation>
        <operation name="GetFactOrdersHospital">
            <input message="tns:GetFactOrdersHospital"/>
            <output message="tns:GetFactOrdersHospitalResponse"/>
        </operation>
        <operation name="GetPlanOrdersClinicPDG">
            <input message="tns:GetPlanOrdersClinicPDG"/>
            <output message="tns:GetPlanOrdersClinicPDGResponse"/>
        </operation>
        <operation name="GetPlanOrdersClinicLDS">
            <input message="tns:GetPlanOrdersClinicLDS"/>
            <output message="tns:GetPlanOrdersClinicLDSResponse"/>
        </operation>
        <operation name="GetPlanOrdersClinic">
            <input message="tns:GetPlanOrdersClinic"/>
            <output message="tns:GetPlanOrdersClinicResponse"/>
        </operation>
        <operation name="SendPlanOrdersClinic">
            <input message="tns:SendPlanOrdersClinic"/>
            <output message="tns:SendPlanOrdersClinicResponse"/>
        </operation>
        <operation name="SendFactOrdersHospital">
            <input message="tns:SendFactOrdersHospital"/>
            <output message="tns:SendFactOrdersHospitalResponse"/>
        </operation>
        <operation name="SendOrdersHospitalUrgently">
            <input message="tns:SendOrdersHospitalUrgently"/>
            <output message="tns:SendOrdersHospitalUrgentlyResponse"/>
        </operation>
        <operation name="SendOrdersNullification">
            <input message="tns:SendOrdersNullification"/>
            <output message="tns:SendOrdersNullificationResponse"/>
        </operation>
        <operation name="SendOrdersLeave">
            <input message="tns:SendOrdersLeave"/>
            <output message="tns:SendOrdersLeaveResponse"/>
        </operation>
        <operation name="SendKDInformation">
            <input message="tns:SendKDInformation"/>
            <output message="tns:SendKDInformationResponse"/>
        </operation>
        <operation name="GetAttachInformation">
            <input message="tns:GetAttachInformation"/>
            <output message="tns:GetAttachInformationResponse"/>
        </operation>
        <operation name="SendAttachDoctorInformation">
            <input message="tns:SendAttachDoctorInformation"/>
            <output message="tns:SendAttachDoctorInformationResponse"/>
        </operation>
        <operation name="SendAttachDoctorSectionInformation">
            <input message="tns:SendAttachDoctorSectionInformation"/>
            <output message="tns:SendAttachDoctorSectionInformationResponse"/>
        </operation>
        <operation name="MakeAttachAction">
            <input message="tns:MakeAttachAction"/>
            <output message="tns:MakeAttachActionResponse"/>
        </operation>
        <operation name="MakeDeAttachActionCancel">
            <input message="tns:MakeDeAttachActionCancel"/>
            <output message="tns:MakeDeAttachActionCancelResponse"/>
        </operation>
        <operation name="MakeDeAttachAction">
            <input message="tns:MakeDeAttachAction"/>
            <output message="tns:MakeDeAttachActionResponse"/>
        </operation>
        <operation name="GetQueryForDeAttachForMO">
            <input message="tns:GetQueryForDeAttachForMO"/>
            <output message="tns:GetQueryForDeAttachForMOResponse"/>
        </operation>
        <operation name="SendQueryForDeAttachForMO">
            <input message="tns:SendQueryForDeAttachForMO"/>
            <output message="tns:SendQueryForDeAttachForMOResponse"/>
        </operation>
        <operation name="GetDeAttachByDate">
            <input message="tns:GetDeAttachByDate"/>
            <output message="tns:GetDeAttachByDateResponse"/>
        </operation>
        <operation name="GetAttachListByRange">
            <input message="tns:GetAttachListByRange"/>
            <output message="tns:GetAttachListByRangeResponse"/>
        </operation>
        <operation name="GetAttachListByRangeAct">
            <input message="tns:GetAttachListByRangeAct"/>
            <output message="tns:GetAttachListByRangeActResponse"/>
        </operation>
        <operation name="GetAttachListByRangeDead">
            <input message="tns:GetAttachListByRangeDead"/>
            <output message="tns:GetAttachListByRangeDeadResponse"/>
        </operation>
        <operation name="SendAttachMoStreetSection">
            <input message="tns:SendAttachMoStreetSection"/>
            <output message="tns:SendAttachMoStreetSectionResponse"/>
        </operation>
        <operation name="GetAttachMoStreetSection">
            <input message="tns:GetAttachMoStreetSection"/>
            <output message="tns:GetAttachMoStreetSectionResponse"/>
        </operation>
        <operation name="getEvPlanQtys">
            <input message="tns:getEvPlanQtys"/>
            <output message="tns:getEvPlanQtysResponse"/>
        </operation>
        <operation name="getEvContacts">
            <input message="tns:getEvContacts"/>
            <output message="tns:getEvContactsResponse"/>
        </operation>
        <operation name="getEvPlanDates">
            <input message="tns:getEvPlanDates"/>
            <output message="tns:getEvPlanDatesResponse"/>
        </operation>
        <operation name="getEvPlanList">
            <input message="tns:getEvPlanList"/>
            <output message="tns:getEvPlanListResponse"/>
        </operation>
        <operation name="getEvFactInfos">
            <input message="tns:getEvFactInfos"/>
            <output message="tns:getEvFactInfosResponse"/>
        </operation>
        <operation name="getEvFactExecs">
            <input message="tns:getEvFactExecs"/>
            <output message="tns:getEvFactExecsResponse"/>
        </operation>
        <operation name="getEvFactInvcs">
            <input message="tns:getEvFactInvcs"/>
            <output message="tns:getEvFactInvcsResponse"/>
        </operation>
        <operation name="getEvUdvnStats">
            <input message="tns:getEvUdvnStats"/>
            <output message="tns:getEvUdvnStatsResponse"/>
        </operation>
        <operation name="putEvContacts">
            <input message="tns:putEvContacts"/>
            <output message="tns:putEvContactsResponse"/>
        </operation>
        <operation name="putEvPlanDates">
            <input message="tns:putEvPlanDates"/>
            <output message="tns:putEvPlanDatesResponse"/>
        </operation>
        <operation name="putEvPlanList">
            <input message="tns:putEvPlanList"/>
            <output message="tns:putEvPlanListResponse"/>
        </operation>
        <operation name="putEvFactInfos">
            <input message="tns:putEvFactInfos"/>
            <output message="tns:putEvFactInfosResponse"/>
        </operation>
        <operation name="putEvFactExecs">
            <input message="tns:putEvFactExecs"/>
            <output message="tns:putEvFactExecsResponse"/>
        </operation>
    </portType>
    <binding name="DCExchangeSrvPortBinding" type="tns:DCExchangeSrv">
        <wsp:PolicyReference URI="#DCExchangeSrvPortBindingPolicy"/>
        <operation name="SetLoginAccess">
            <input>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Output_Policy"/>
            </output>
        </operation>
        <operation name="MakeTestConnect">
            <input>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Output_Policy"/>
            </output>
        </operation>
        <operation name="GetKDInformationByKPKMO">
            <input>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Output_Policy"/>
            </output>
        </operation>
        <operation name="GetKDInformationByMO">
            <input>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Output_Policy"/>
            </output>
        </operation>
        <operation name="GetKDInformationByKpk">
            <input>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Output_Policy"/>
            </output>
        </operation>
        <operation name="GetKDInformationPDG">
            <input>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Output_Policy"/>
            </output>
        </operation>
        <operation name="GetKDInformationLDS">
            <input>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Output_Policy"/>
            </output>
        </operation>
        <operation name="GetKDInformation">
            <input>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Output_Policy"/>
            </output>
        </operation>
        <operation name="GetOrdersLeaveHospitalPDG">
            <input>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Output_Policy"/>
            </output>
        </operation>
        <operation name="GetOrdersLeaveHospitalLDS">
            <input>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Output_Policy"/>
            </output>
        </operation>
        <operation name="GetOrdersLeaveHospital">
            <input>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Output_Policy"/>
            </output>
        </operation>
        <operation name="GetOrdersNullificationPDG">
            <input>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Output_Policy"/>
            </output>
        </operation>
        <operation name="GetOrdersNullificationLDS">
            <input>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Output_Policy"/>
            </output>
        </operation>
        <operation name="GetOrdersNullification">
            <input>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Output_Policy"/>
            </output>
        </operation>
        <operation name="GetOrdersHospitalUrgentlyPDG">
            <input>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Output_Policy"/>
            </output>
        </operation>
        <operation name="GetOrdersHospitalUrgentlyLDS">
            <input>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Output_Policy"/>
            </output>
        </operation>
        <operation name="GetOrdersHospitalUrgently">
            <input>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Output_Policy"/>
            </output>
        </operation>
        <operation name="GetFactOrdersHospitalPDG">
            <input>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Output_Policy"/>
            </output>
        </operation>
        <operation name="GetFactOrdersHospitalLDS">
            <input>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Output_Policy"/>
            </output>
        </operation>
        <operation name="GetFactOrdersHospital">
            <input>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Output_Policy"/>
            </output>
        </operation>
        <operation name="GetPlanOrdersClinicPDG">
            <input>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Output_Policy"/>
            </output>
        </operation>
        <operation name="GetPlanOrdersClinicLDS">
            <input>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Output_Policy"/>
            </output>
        </operation>
        <operation name="GetPlanOrdersClinic">
            <input>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Output_Policy"/>
            </output>
        </operation>
        <operation name="SendPlanOrdersClinic">
            <input>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Output_Policy"/>
            </output>
        </operation>
        <operation name="SendFactOrdersHospital">
            <input>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Output_Policy"/>
            </output>
        </operation>
        <operation name="SendOrdersHospitalUrgently">
            <input>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Output_Policy"/>
            </output>
        </operation>
        <operation name="SendOrdersNullification">
            <input>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Output_Policy"/>
            </output>
        </operation>
        <operation name="SendOrdersLeave">
            <input>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Output_Policy"/>
            </output>
        </operation>
        <operation name="SendKDInformation">
            <input>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Output_Policy"/>
            </output>
        </operation>
        <operation name="GetAttachInformation">
            <input>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Output_Policy"/>
            </output>
        </operation>
        <operation name="SendAttachDoctorInformation">
            <input>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Output_Policy"/>
            </output>
        </operation>
        <operation name="SendAttachDoctorSectionInformation">
            <input>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Output_Policy"/>
            </output>
        </operation>
        <operation name="MakeAttachAction">
            <input>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Output_Policy"/>
            </output>
        </operation>
        <operation name="MakeDeAttachActionCancel">
            <input>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Output_Policy"/>
            </output>
        </operation>
        <operation name="MakeDeAttachAction">
            <input>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Output_Policy"/>
            </output>
        </operation>
        <operation name="GetQueryForDeAttachForMO">
            <input>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Output_Policy"/>
            </output>
        </operation>
        <operation name="SendQueryForDeAttachForMO">
            <input>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Output_Policy"/>
            </output>
        </operation>
        <operation name="GetDeAttachByDate">
            <input>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Output_Policy"/>
            </output>
        </operation>
        <operation name="GetAttachListByRange">
            <input>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Output_Policy"/>
            </output>
        </operation>
        <operation name="GetAttachListByRangeAct">
            <input>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Output_Policy"/>
            </output>
        </operation>
        <operation name="GetAttachListByRangeDead">
            <input>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Output_Policy"/>
            </output>
        </operation>
        <operation name="SendAttachMoStreetSection">
            <input>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Output_Policy"/>
            </output>
        </operation>
        <operation name="GetAttachMoStreetSection">
            <input>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Output_Policy"/>
            </output>
        </operation>
        <operation name="getEvPlanQtys">
            <input>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Output_Policy"/>
            </output>
        </operation>
        <operation name="getEvContacts">
            <input>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Output_Policy"/>
            </output>
        </operation>
        <operation name="getEvPlanDates">
            <input>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Output_Policy"/>
            </output>
        </operation>
        <operation name="getEvPlanList">
            <input>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Output_Policy"/>
            </output>
        </operation>
        <operation name="getEvFactInfos">
            <input>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Output_Policy"/>
            </output>
        </operation>
        <operation name="getEvFactExecs">
            <input>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Output_Policy"/>
            </output>
        </operation>
        <operation name="getEvFactInvcs">
            <input>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Output_Policy"/>
            </output>
        </operation>
        <operation name="getEvUdvnStats">
            <input>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Output_Policy"/>
            </output>
        </operation>
        <operation name="putEvContacts">
            <input>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Output_Policy"/>
            </output>
        </operation>
        <operation name="putEvPlanDates">
            <input>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Output_Policy"/>
            </output>
        </operation>
        <operation name="putEvPlanList">
            <input>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Output_Policy"/>
            </output>
        </operation>
        <operation name="putEvFactInfos">
            <input>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Output_Policy"/>
            </output>
        </operation>
        <operation name="putEvFactExecs">
            <input>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#DCExchangeSrvPortBinding_SetLoginAccess_Output_Policy"/>
            </output>
        </operation>
    </binding>
    <service name="DCExchangeSrv">
        <port name="DCExchangeSrvPort" binding="tns:DCExchangeSrvPortBinding"/>
    </service>
    <wsp:Policy wsu:Id="DCExchangeSrvPortBindingPolicy">
        <wsp:ExactlyOne>
            <wsp:All>
                <wsam:Addressing/>
                <sp:SymmetricBinding>
                    <wsp:Policy>
                        <sp:ProtectionToken>
                            <wsp:Policy>
                                <sp:SecureConversationToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
                                    <wsp:Policy>
                                        <sp:RequireDerivedKeys/>
                                        <sp:BootstrapPolicy>
                                            <wsp:Policy>
                                                    <sp:AsymmetricBinding>
                                                            <wsp:Policy>
                                                                    <sp:InitiatorToken>
                                                                            <wsp:Policy>
                                                                                    <sp:X509Token sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
                                                                                            <wsp:Policy>
                                                                                                    <sp:WssX509V3Token10/>
                                                                                                </wsp:Policy>
                                                                                        </sp:X509Token>
                                                                                </wsp:Policy>
                                                                        </sp:InitiatorToken>
                                                                        <sp:RecipientToken>
                                                                            <wsp:Policy>
                                                                                    <sp:X509Token sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/Never">
                                                                                            <wsp:Policy>
                                                                                                    <sp:WssX509V3Token10/>
                                                                                                        <sp:RequireIssuerSerialReference/>
                                                                                                </wsp:Policy>
                                                                                        </sp:X509Token>
                                                                                </wsp:Policy>
                                                                        </sp:RecipientToken>
                                                                        <sp:Layout>
                                                                            <wsp:Policy>
                                                                                    <sp:Strict/>
                                                                                </wsp:Policy>
                                                                        </sp:Layout>
                                                                        <sp:IncludeTimestamp/>
                                                                        <sp:OnlySignEntireHeadersAndBody/>
                                                                        <sp:AlgorithmSuite>
                                                                            <wsp:Policy>
                                                                                    <sp:Basic128/>
                                                                                </wsp:Policy>
                                                                        </sp:AlgorithmSuite>
                                                                </wsp:Policy>
                                                        </sp:AsymmetricBinding>
                                                <sp:Wss10>
                                                    <wsp:Policy>
                                                            <sp:MustSupportRefIssuerSerial/>
                                                        </wsp:Policy>
                                                </sp:Wss10>
                                                <sp:EncryptedParts>
                                                    <sp:Body/>
                                                </sp:EncryptedParts>
                                                <sp:SignedParts>
                                                    <sp:Body/>
                                                    <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing"/>
                                                    <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing"/>
                                                    <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                                                    <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                                                    <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing"/>
                                                    <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                                                    <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing"/>
                                                    <sp:Header Name="AckRequested" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
                                                    <sp:Header Name="SequenceAcknowledgement" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
                                                    <sp:Header Name="Sequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
                                                    <sp:Header Name="CreateSequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
                                                </sp:SignedParts>
                                            </wsp:Policy>
                                        </sp:BootstrapPolicy>
                                    </wsp:Policy>
                                </sp:SecureConversationToken>
                            </wsp:Policy>
                        </sp:ProtectionToken>
                        <sp:Layout>
                            <wsp:Policy>
                                <sp:Strict/>
                            </wsp:Policy>
                        </sp:Layout>
                        <sp:AlgorithmSuite>
                            <wsp:Policy>
                                <sp:Basic128/>
                            </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:IncludeTimestamp/>
                        <sp:OnlySignEntireHeadersAndBody/>
                    </wsp:Policy>
                </sp:SymmetricBinding>
                <sp:Wss11>
                    <wsp:Policy>
                        <sp:MustSupportRefIssuerSerial/>
                        <sp:MustSupportRefThumbprint/>
                        <sp:MustSupportRefEncryptedKey/>
                    </wsp:Policy>
                </sp:Wss11>
                <sp:Trust13>
                    <wsp:Policy>
                        <sp:RequireClientEntropy/>
                        <sp:RequireServerEntropy/>
                        <sp:MustSupportIssuedTokens/>
                    </wsp:Policy>
                </sp:Trust13>
                <sc:KeyStore wspp:visibility="private" location="C:\Users\YakubaDI\AppData\Roaming\NetBeans\8.2\config\GF_4.1.1\domain1\config\keystore.jks" type="JKS" storepass="changeit" alias="xws-security-server"/>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="DCExchangeSrvPortBinding_SetLoginAccess_Input_Policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:EncryptedParts>
                    <sp:Body/>
                </sp:EncryptedParts>
                <sp:SignedParts>
                    <sp:Body/>
                    <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="AckRequested" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
                    <sp:Header Name="SequenceAcknowledgement" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
                    <sp:Header Name="Sequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
                    <sp:Header Name="CreateSequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
                </sp:SignedParts>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="DCExchangeSrvPortBinding_SetLoginAccess_Output_Policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:EncryptedParts>
                    <sp:Body/>
                </sp:EncryptedParts>
                <sp:SignedParts>
                    <sp:Body/>
                    <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="AckRequested" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
                    <sp:Header Name="SequenceAcknowledgement" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
                    <sp:Header Name="Sequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
                    <sp:Header Name="CreateSequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
                </sp:SignedParts>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
</definitions>
